body{
    background-image: url("./image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
textarea{
    background-color: rgb(233, 223, 204);
}
